﻿#mainContent {
    background-color: grey;
}



#seperatorTop {
    position: relative;
    width: 99.9%;
    height: 2px;
    background-color: white;
}

#seperatorMid {
    position: relative;
    width: 99.9%;
    height: 2px;
    background-color: white;
}








#examCreation {
    color: white;
    position: relative;
    width: 100%;
    background-color: #0f0f0f;
    position: relative;
    top: 80px;
    border: 15px solid cadetblue;
    border: 15px solid cadetblue;
    border-radius: 10px 10px 10px 10px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#subjectSelection {
    border-style: solid;
    border-width: 1px;
    border-color: cadetblue;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
    opacity: 0.9;
    position: relative;
    padding: 10px;
    background-color: maroon;
    width: 210px;
    left: 40px;
    top: 15px;
}

#testTypeSelection {
    border-style: solid;
    border-width: 1px;
    border-color: cadetblue;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
    opacity: 0.9;
    position: relative;
    padding: 10px;
    background-color: maroon;
    width: 250px;
    left: 50%;
    top: -71.5px;
}

    #subjectSelection p, #subjectSelection select, #testTypeSelection p, #testTypeSelection select {
        display: inline;
    }

#outcomeSelection {
    position: relative;
}

.container {
    color: black;
    border: 2px solid cadetblue;
    border-radius: 5px 5px 5px 5px;
    width: 500px;
    overflow-y: scroll;
    background-color: white;
}

#outcomeSelection label {
    left: 6.5%;
    position: relative;
    color: white;
}

#sectionSetup {
    position: relative;
    text-align: left;
}

#sectionsList {
    margin-top: 10px;
    background-color: white;
    color: black;
    overflow-y: scroll;
}

#btnGenerate {
    position: relative;
    left: 3%;
    margin-bottom: 3%;
}

#examEditing {
    margin-top: 15%;
    text-align: center;
    background-color: #0f0f0f;
    padding: 100px;
    color: white;
    /*width: 594px;*/ /*Width of A4 on-screen; Should probably be a little bit more so that the Test Page doesn't consume the entire container with no additional space left*/
    /*height: 842px;*/ /*Height of A4 on-screen*/
    position: relative;
    border: 15px solid cadetblue; /*If browser doesn't support rgba, it uses this by default*/
    border: 15px solid cadetblue; /*Adds an opacity of 0.7 to the border*/
    border-radius: 10px 10px 10px 10px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
