﻿section form {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    margin-top: 10%;
}

form section label {
    position: relative;
    margin-right: 5px;
}


form section input {
    position: relative;
}

.InputFields {
    padding: 5px 10px;
    color: black;
    border-radius: 0;
}

section form button {
    border: 0.1px solid gray;
    position: relative;
    border-radius: 0;
    padding: 5px 10px;
    height: 30%;
    letter-spacing: .1em;
    background: #13232f;
    color: #c1bdba;
}

section a {
    border: 0.1px solid gray;
    position: relative;
    border-radius: 0;
    padding: 8.1px 10px;
    height: 30%;
    letter-spacing: .1em;
    background: #13232f;
    color: #c1bdba;
    right:-5px;
}

.Section {
    margin: 5px;
    padding: 3px;
    border: 2px solid #13232f;
}


#OptionalHeader {
    position: relative;
    background-color: #13232f;
    color: #c1bdba;
    text-align: center;
    padding: 3px;
}

#Button {
    position: relative;
    left: 1%;
}
