﻿
@{
    ViewBag.Title = "SelectNumberOfQuestions";
}



<section>
    @using (Html.BeginForm("SelectQuestions", "Generator", "Post"))
    {
        <label>Examinator:</label>
        @Html.TextBox("Examinator");<br />
        <label>Moderator:</label>
        @Html.TextBox("Moderator");<br /><br />

        <label>Number Of Questions</label>
        <input type="number" name="QuestionQuantity" min="1" max="20" value="1">
        <br />
        <button type="submit">Next</button>
    }
</section>