﻿
@{
    ViewBag.Title = "SelectQuestions";
}
@model PRP321MVC.Models.QuestionsSelectionModel


@using (Html.BeginForm("SelectOutcomes", "Generator", "Post"))
{

    List<SelectListItem> selectLists = new List<SelectListItem>();

    foreach (PRP321MVC.Models.QuestionTypeModel item in Model.questionTypesList)
    {
        selectLists.Add(new SelectListItem { Text = item.Name, Value = item.Type });
    }

    for (int i = 0; i < Model.NumberOfQuestions; i++)
    {

        @Html.DropDownList("QuestionType" + i, selectLists, "Select Question Type")

        
    }

    <button type="submit">Submit</button>
}


